a {
    cursor: pointer;
    font-size: 1.2em;
    text-decoration-color: transparent;
    -webkit-text-decoration-color: transparent;
    -moz-text-decoration-color: transparent;
    color: var(--main-color);
    transition: ease-in-out 0.5s;
}

a:hover {
    color: var(--main-color);
    text-decoration-color: var(--main-color);
    -webkit-text-decoration-color:var(--main-color);
    -moz-text-decoration-color:var(--main-color);
    text-decoration: underline;
    transition: ease-in-out 0.5s;
    background-color: white;
}

li {
    padding: 5px;
}

main {
    position: relative;
}

