<!--  -->

<div class="container">

  <header class="d-flex flex-column flex-md-row justify-content-sm-between mt-5 mb-5">
    <h1 [routerLink]="['/blog']">Arena Azul</h1>
    <nav class="navbar navbar-expand-lg d-flex flex-column">
      <ul class="navbar-nav mr-auto d-flex flex-sm-row">
        <li class="nav-item pad1">
          <a class="nav-link" [routerLink]="['/blog']">Entradas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/new']">Nueva Entrada</a>
        </li>
      </ul>

      <ul class="navbar-nav mr-auto d-flex flex-sm-row">
        <li class="nav-item pad1 dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Autor</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="enviarAutorSeleccionado($event)">Todos</a>
            <a class="dropdown-item" *ngFor="let autor of autores"
              (click)="enviarAutorSeleccionado($event)">{{autor}}</a>
          </div>
        </li>

        <li class="nav-item pad1 dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Categoría</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="enviarCategoriaSeleccionada($event)">Todas</a>
            <a class="dropdown-item" *ngFor="let cat of categorias"
              (click)="enviarCategoriaSeleccionada($event)">{{cat}}</a>
          </div>
      </ul>
    </nav>

  </header>
  <main [@routeAnimations]="prepareRoute(outlet)" class="content">
    <router-outlet #outlet="outlet"></router-outlet>
  </main>
</div>


<!--  -->